/**
 *  Element defaults
 */

html {
  font-display: swap;
  // overflow-x: hidden;
}

html,
body {
  // width: 100%;
  // height: 100%;
  color: #000000;
  background: #ffffff;
}

body {
  //overflow-x: hidden;
  font-weight: normal;
}

input,
textarea,
select {
  // -webkit-appearance: none;
  // -webkit-border-radius: 0;
  // border-radius: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input[type=text][disabled],
input[type=password][disabled],
input[type=email][disabled],
input[type=url][disabled],
input[type=date][disabled],
input[type=month][disabled],
input[type=time][disabled],
input[type=datetime][disabled],
input[type=datetime-local][disabled],
input[type=week][disabled],
input[type=number][disabled],
input[type=search][disabled],
input[type=tel][disabled],
input[type=color][disabled],
select[disabled],
textarea[disabled] {
  // @include opacity(0.4);
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  &:focus {
    outline: rgb(59, 153, 252) auto 5px;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-variant-ligatures: none !important;
}

p, span, code, li, ul, ol, i, a {
  font-variant-ligatures: none !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  // @extend .NoWebkitAppearance;
}

ul {
  list-style-type: none;
}

input,
button,
textarea {
  outline: none;
}

.swiper-container {
  z-index: 1000;

  @include transform(translate3d(0,0,0));
}

/* Here you can add default styles to forms elements, text elements and such */

img {
  max-width: 100%;
}
