.HomeHeader
{
    height: 200px;

    background-color: #112f4a;
}



.QrCodeWifi__Content
{
    max-width: 320px;
}

.QRCodeCapture {
  display: inline-flex;
  width: auto;
  margin: 32px 0;
}


.QRCodeCapture__Image {
  line-height: 0;

}

