/**
 * Wrapper variables
 */

$wrapper-padding: 16px;
$wrapper-reg: 1182px;

/**
 * Wrapper
 */

.Wrapper {
  position: static;

  overflow: visible;

  width: 100%;
  max-width: 100%;
  max-width: $wrapper-reg;
  margin: 0 auto;
  padding: 0 $wrapper-padding;
}
